extends layout

block content
  h1= title
  p Welcome to #{title}
  
  section#wrapper
    h2 Basic Structure
    section 
        p
            span This is a span within a p within a div
            - var name = "WGX998877"
            h1 Hello #{name}!
  section.container
  h2 Form example

  form(method='post', action='/')
    fieldset
        legend Add a user
        p.clearfix
          label First name
          input(name='user[first_name]')
        p.clearfix
          label Last name
          input(name='user[surname]')
        p.actions
          input(type='submit', value='Save', class='btn primary')
