doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='http:/twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  body
    section.container!= body
    block content